<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Corgs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="RaygunSettings" type="Mindscape.Raygun4Net.RaygunSettings, Mindscape.Raygun4Net"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Corgs.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>rdmsdb</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>rdms123</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>DBDat</value>
            </setting>
            <setting name="connection" serializeAs="String">
                <value>BARREDOPC\SQLEXPRESS</value>
            </setting>
        </Corgs.Properties.Settings>
    </userSettings>

  <!--<section name="RaygunSettings" type="Mindscape.Raygun4Net.RaygunSettings, Mindscape.Raygun4Net"/>

  <RaygunSettings apikey="tXu6M1ixtrv1y+YWw3TMGQ==" />-->
  <RaygunSettings apikey="tXu6M1ixtrv1y+YWw3TMGQ==" />
</configuration>